:root {
	--color-background: #ffffff;
	--color-background-30: #ffffff50;
	--color-background-soft: #f8f8f8;
	--color-background-mute: #f2f2f2;

	--color-border: rgba(60, 60, 60, 0.12);
	--color-border-hover: rgba(60, 60, 60, 0.29);

	--color-heading: #404040;
	--color-text: #404040;

	--section-gap: 160px;

	--color-primary: #4f591a;
	--color-primary-light: #4e591a2d;

	--color-secondary: #b9ab9c;

	--color-highlight: #ff715b;

	/* Border Radius */
	--border-radius: 5px;
	--border-radius-1: var(--border-radius);
	--border-radius-2: calc(var(--border-radius) * 2);
	--border-radius-3: calc(var(--border-radius) * 3);

	/* Spacing */
	--spacing-1: 5px;
	--spacing-2: calc(var(--spacing-1) * 2);
	--spacing-3: calc(var(--spacing-1) * 3);
	--spacing-4: calc(var(--spacing-1) * 4);
	--spacing-5: calc(var(--spacing-1) * 5);

	/* Rem sizes */
	--size-05: 0.5rem;
	--size-1: 1rem;
	--size-2: 2rem;
	--size-3: 3rem;
	--size-4: 4rem;
	--size-5: 5rem;
	--size-6: 6rem;
	--size-7: 7rem;
	--size-8: 8rem;
	--size-9: 9rem;
	--size-10: 10rem;
	--size-15: 15rem;
	--size-20: 20rem;
	--size-25: 25rem;
	--size-35: 35rem;

	/* Font Size */
	--font-size-sm: 0.875rem;
	--font-size-med: 1.125rem;
	--font-size-lg: 1.25rem;
	--font-size-xlg: 3rem;

	/* Shadow */
	--shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	/* Sizing */
	--sizing-sm: 320px;
	--sizing-med: 768px;
	--sizing-lg: 1024px;
	--sizing-xlg: 1440px;
}